@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Segoe UI', sans-serif;
}

@layer components{
  .navBtn{
    @apply hidden h-6 md:inline-flex cursor-pointer
    hover:scale-125 transition-all duration-150 ease-out;
  }
  .btn {
    @apply h-7 hover:scale-125 transition-all duration-150 ease-out cursor-pointer;
  }
  .p-Profile{
    padding:2px;
  }
}